<mat-toolbar color="primary">
  <span [routerLink]="['courses']" class="title">Training Academy</span>
  <span class="spacer"></span>

  <button mat-icon-button [routerLink]="['courses']">
    <mat-icon aria-hidden="false">home</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="toggleDetails()"
    matTooltip="Show/Hide Details"
  >
    <mat-icon aria-hidden="false">visibility</mat-icon>
  </button>
  <button mat-icon-button (click)="addCourse()" matTooltip="Add Course">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
