<mat-card class="course-detail-card" *ngIf="course$ | async as course">
  <div class="header-image">
    <img [src]="course.image" />
    <mat-card-header>
      <mat-card-title>{{ course.name }}</mat-card-title>
      <mat-card-subtitle>{{ course.instructor }}</mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content>
    <div class="course-info">
      <p class="content">
        <mat-icon class="icon icon__hour">schedule</mat-icon>
        <span>{{ course.hours }} hours</span>
      </p>
      <p class="content">
        <mat-icon class="icon icon__like">thumb_up</mat-icon>
        <span>{{ course.likes }} likes</span>
      </p>
      <p class="content">
        <mat-icon class="icon icon__review">rate_review</mat-icon>
        <span>{{ course.reviews.length }} reviews</span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="reviews" *ngIf="show$ | async">
      <div class="reviews__header">
        <h3>Reviews</h3>
        <button
          mat-icon-button
          color="accent"
          matTooltip="Add review"
          (click)="addReview()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          matTooltip="Edit Course"
          (click)="editCourse()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div *ngFor="let review of course.reviews" class="review">
        <p>
          <b>{{ review.user }}</b>
        </p>
        <p>{{ review.review }}</p>
        <p class="content">
          <mat-icon class="icon icon__star">star</mat-icon
          ><span>{{ review.rating }}</span>
        </p>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card-content>
</mat-card>
