<mat-card class="course-card" color="secondary">
  <mat-card-header>
    <mat-card-title>{{ course.name }}</mat-card-title>
    <mat-card-subtitle>{{ course.instructor }}</mat-card-subtitle>
  </mat-card-header>
  <div class="header-image">
    <img [src]="course.image" [routerLink]="[course.id]" />
  </div>
  <mat-card-content class="course-info" *ngIf="show$ | async">
    <div class="content">
      <mat-icon class="icon icon__hour" aria-hidden="false">schedule</mat-icon>
      {{ course.hours }}
    </div>
    <div class="content">
      <mat-icon class="icon icon__like" aria-hidden="false" (click)="like()"
        >thumb_up</mat-icon
      >
      {{ course.likes }}
      <mat-icon class="icon icon__like" aria-hidden="false" (click)="dislike()"
        >thumb_down</mat-icon
      >
    </div>

    <div class="content">
      <mat-icon class="icon icon__review" aria-hidden="false"
        >rate_review</mat-icon
      >
      {{ course.reviews.length }}
    </div>
  </mat-card-content>
</mat-card>
