<h1 mat-dialog-title>Add Review</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="user" placeholder="Username" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="rating"
        type="number"
        placeholder="Rating (1-5)"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="review"
        placeholder="Review"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">
    Add
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
