.main-container {
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/background2.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
    height: 100%;
    width: 100%;
  }
}

.container {
  margin: 0 300px;
  padding: 70px 0;
}
