/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.icon {
  &__like {
    color: rgb(0, 110, 255);
  }
  &__hour {
    color: green;
  }
  &__review {
    color: orangered;
  }
  &__star {
    color: goldenrod;
  }
}

.mat-mdc-card-content > :last-child:not(.mat-mdc-card-footer) {
  margin-bottom: auto !important;
}

.dialog {
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 100%;
}
